@import '/px2rem.styl'

html
  width 100%
  height 100%
  body
    width 100%
    height 100%
    background-color #efefef; 
    color #000
    .clearfloat:after
      content ""
      height 0
      line-height 0
      display block
      visibility hidden
      clear both
    a
      display block
      text-decoration none
      color #000
    img
      display block
    header
      height px(100)
      width 100%
      display flex
      background-color #f4f4f4
      border-bottom 1px solid #b5b5b5
      .logo
        flex 0 0 px(155)
        a
          display block
          width px(131)
          height px(38)
          margin-left px(10)
          margin-top px(30)
          bg-image 'logo'
          background-size 100% 100%
      .input
        background-color #fff
        height px(70)
        flex 1
        margin-top px(15)
        display flex
        border-radius px(4)
        input
          flex 1
          height 100%
          font-size 13px
          border none
          padding-left px(26)
        a
          display block
          flex 0 0 px(38)
          margin px(16)
          height px(38)
          bg-image 'search'
          background-size 100% 100%
      .buycart
        flex 0 0 px(100)
        a
          display block
          margin-top px(25)
          margin-left px(16)
          width px(64)
          height px(51)
          bg-image 'buycart'
          background-size 100% 100%
          position relative
          span
            display block
            width px(41)
            height (41)
            text-align center
            line-height px(41)
            color #fff
            font-size 12px
            background-color #e9714e
            border-radius 100%
            position absolute
            top px(-16px)
            right px(-10px)
            
    .fix
      position fixed
      bottom 0
      width 100%
      height px(95)
      background-color #f6f7f9
      display flex
      justify-content space-around
      a
        width px(63)
        height px(65)
        margin-top px(15)
        &.brand
          bg-image 'brand'
          background-size 100% 100%
          margin-top px(17)
          &.active
            bg-image 'branda'
            background-size 100% 100%
        &.home
          bg-image 'home'
          background-size 100% 100%
          &.active
            bg-image 'homea'
            background-size 100% 100%
        &.sort
          bg-image 'sort'
          background-size 100% 100%
          &.active
            bg-image 'sorta'
            background-size 100% 100%
        &.shopping
          bg-image 'shopping'
          background-size 100% 100%
          &.active
            bg-image 'shoppinga'
            background-size 100% 100%
        &.me
          bg-image 'me'
          background-size 100% 100%
          &.active
            bg-image 'mea'
            background-size 100% 100% 